body{
    font: verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: navy;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1939048928.1641772800")
}
footer{
    background-color: mintcream;
    color: darkorange;
    font-size: 20px;
}
#maintitle{
    color: violet;
    font-size: 34px;
}
